---
interface Props {
  className?: string;
  color?: string;
  viewBox: string;
  paths: string | string[];
  fill?: string;
  strokeWidth?: string | number;
}

const { 
  className = "opacity-5",
  color = "currentColor",
  viewBox,
  paths,
  fill = "none",
  strokeWidth = "2"
} = Astro.props;
---

<div class={`absolute inset-0 overflow-hidden ${className}`}>
  <div class="absolute inset-0 flex items-center justify-center">
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="100%" 
      height="100%" 
      viewBox={viewBox}
      preserveAspectRatio="xMidYMid slice"
      class={`w-full h-full stroke-current ${color}`}
      style={`stroke-width: ${strokeWidth}`}
    >
      <g>
        {Array.isArray(paths) ? (
          paths.map((path) => (
            <path 
              d={path} 
              fill={fill} 
              stroke-miterlimit="10" 
            />
          ))
        ) : (
          <path 
            d={paths} 
            fill={fill} 
            stroke-miterlimit="10" 
          />
        )}
      </g>
    </svg>
  </div>
</div>